* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
# Normalise les fins de ligne entre les OS
* text=auto

# Pour les fichiers PHP, Blade, JS, CSS, etc.
*.php text
*.blade.php text
*.js text
*.css text
*.html text
